@font-face {
  font-family: "exo-2";
  src: url(../fonts/exo-2/Exo2-Light.ttf) format("truetype");
}

@font-face {
  font-family: "exo-2-title";
  src: url(../fonts/exo-2/Exo2-SemiBold.ttf) format("truetype");
}

// Variables
$nt-gutter-x: 1.5rem;
$nt-gutter-y: 0;
$font-size-1: 1em;
$medium-px: 5px;
$width-100: 100%;

*,
::after,
::before {
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid blue;
}

input:focus {
  outline: 2px solid blue;
}

// Page framework start
body {
  margin: 0;
  font-family: "exo-2", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #424242;
  background-color: #fff;
  -webkit-text-size-adjust: $width-100;
  -webkit-tap-highlight-color: transparent;
}

.container {
  width: $width-100;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(0rem);
  margin-right: calc(1.5rem * -0.5);
  margin-left: calc(1.5rem * -0.5);
}

.row > * {
  flex-shrink: 0;
  width: $width-100;
  max-width: $width-100;
}

.w-100 {
  width: $width-100 !important;
}

.img-fluid {
  max-width: $width-100 !important;
  height: auto;
}

// Page framework end

/** Login Page start **/
.login-container {
  background: #fff;

  h1,
  h2,
  .h1,
  .h2
  {
    font-family: "exo-2-title", sans-serif;
    color: #fff;
  }

  // Right-side text section
  .bg-img {
    background: url(../img/background.jpg) top left repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    text-align: left;
    z-index: 10;
    opacity: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;

    .information-block {
      color: #fff;
      max-width: 450px;

      h1 {
        color: #fff;
        margin-bottom: 20px;
        font-weight: 600;
        text-transform: uppercase;
      }

      p {
        color: #fff;
        margin-bottom: 25px;
        line-height: 25px;
        font-size: 15px;
      }

      /* Social list */
      .social-list {
        a {
          text-decoration: none !important;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 3px;
          margin: 0 4px 5px;
          font-size: 20px;
          overflow: hidden;
          position: relative;
          background: #fff;
          transition: transform 0.4s linear 0s,
            border-top-left-radius 0.1s linear 0s,
            border-top-right-radius 0.1s linear 0.1s,
            border-bottom-right-radius 0.1s linear 0.2s,
            border-bottom-left-radius 0.1s linear 0.3s;
          border-radius: 50%;

          &:hover {
            background: #d9a513;
            border-radius: 50px;
          }

          .fa-facebook {
            color: #4867aa;
          }

          .fa-twitter {
            color: #33ccff;
          }

          .fa-google {
            color: #db4437;
          }

          .fa-linkedin {
            color: #2392e0;
          }

          i {
            position: relative;
            z-index: 3;
          }
        }

        .buttons {
          display: flex;
        }
      }
    }
  }

  // Left-side form section
  .form-section {
    min-height: 100vh;
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

    .login-inner-form {
      color: #535353;
      width: $width-100;
      text-align: center;
      max-width: 600px;
      margin: 0 auto;
      padding: 60px;
      border-radius: 50px;
      z-index: 999;
      background: linear-gradient(to bottom, #e22727 30%, #d9a513 70%);

      a {
        text-decoration: none;
      }

      .details {
        .title-underline-animation {
          color: #fff;
          font-size: $font-size-1 * 4;
          margin-bottom: 20px;
          line-height: 1;
          position: relative;
          text-decoration: none;
          padding-bottom: 2px;

          &::before {
            content: "";
            position: absolute;
            width: $width-100;
            height: 2px;
            bottom: -10px;
            left: 0;
            background-color: #fff;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.3s ease-in-out;
          }

          &:hover::before {
            transform: scaleX(1);
          }
        }

        span {
          display: block;
          margin: 0 0 30px;
          font-size: 25px;
          font-weight: 400;
          color: #fff;
        }

        .form-box {
          width: $width-100;
          margin-bottom: 25px;
          position: relative;

          button,
          input {
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
          }

          label {
            float: left;
            font-size: $font-size-1;
            color: #FFF;
            padding-bottom: 10px;
          }

          input {
            width: $width-100;
            padding: 10px 25px;
            font-size: 16px;
            font-weight: 400;
            color: #535353;
            height: 55px;
            border-radius: 3px;
            border: 1px solid #fff;
          }
        }

        .form-group {
          margin-bottom: 25px;

          .btn-md {
            cursor: pointer;
            padding: $medium-px 0px;
            font-size: 17px;
            font-weight: 400;
            border-radius: $medium-px;
          }

          .btn-submit {
            font-family: "exo-2", sans-serif;
            background: #c73518;
            border: none;
            color: #fff;
            font-size: $font-size-1 * 2;
            transition: all 0.2s ease-in-out;
            box-shadow: 0 5px 0 #a5052d;

            &:hover {
              background: #7b210f;
              box-shadow: 0 0px 0 #a5052d;
              transform: translateY(2px);
            }
          }
        }

        .submitted-form-container {
          color: #fff;

          p {
            padding: $nt-gutter-x;
          }

        }

      }
    }
  }

  // Animation
  .slide-in-left > * {
    overflow: hidden;
    white-space: normal;
    animation: slide-in-left 1s forwards;
    opacity: 0;
  }

  .slide-in-delay > * {
    overflow: hidden;
    white-space: normal;
    animation: slide-in-left 1s ease-in-out 0.5s forwards;
    opacity: 0;
  }

  .slide-in-bottom {
    animation: slide-in-bottom 1s ease-in-out 1s forwards;
    opacity: 0;
    position: relative;
    bottom: -50px;
    /* set the initial position of the element */
  }

  // Animation Keyframes
  @keyframes slide-in-left {
    0% {
      transform: translateX(-200px);
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-bottom {
    from {
      bottom: -50px;
      /* set the starting position of the animation */
      opacity: 0;
    }

    to {
      bottom: 0;
      /* set the ending position of the animation */
      opacity: 1;
    }
  }
}

/** Login Page end **/

/** Media Breakpoints **/
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 992px) {
}
